<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>{$category.nme_categoria}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            {loop="$evento"}
            <div class="col-md-3 col-sm-6">
                <div class="single-shop-product">
                    <div class="product-upper">
                        <img src="{$value.desphoto}" alt="Photo">
                    </div>
                    <h2><a href="/eventos/{$value.url_url}">{$value.nme_evento}</a></h2>

                    </div>
                </div>
                {/loop}

        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                        {loop="$pages"}
                        <li><a href="{$value.link}">{$value.page}</a></li>
                       {/loop}
                        </ul>
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>